@{
    ViewData["Title"] = "库存页面";
}
<script src="~/lib/table/tableExport.js"></script>
<script src="~/lib/bootstrap-table/src/extensions/export/bootstrap-table-export.js"></script>
<script src="~/lib/bootstrap-table/src/extensions/filter-control/bootstrap-table-filter-control.js"></script>
<script src="~/lib/bootstrap-table/src/extensions/editable/bootstrap-table-editable.js"></script>
<script src="~/lib/bootstrap-table/src/extensions/editable/bootstrap-editable.js"></script>
<link rel="stylesheet" href="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">
<script src="~/lib/toastr/toastr.min.js"></script>
<link href="~/lib/toastr/toastr.css" rel="stylesheet" />

<div id="toolbar" class="btn-group">
    <button id="btn_server" type="button" class="btn btn-info" onclick="LoadByServer('chaos')">
        <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>欧服
    </button>
    <button id="btn_usa" type="button" class="btn btn-warning" onclick="LoadByServer('usa')">
        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>美服
    </button>
    <button id="btn_japan" type="button" class="btn btn-danger" onclick="LoadByServer('japan')">
        <span class="glyphicon glyphicon-jpy" aria-hidden="true"></span>日服
    </button>
    <button id="btn_oumei" type="button" class="btn btn-primary" onclick="LoadByServer('oumei')">
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>欧美
    </button>
</div>

<table id="mousetable"></table>

<script type="text/javascript">
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-bottom-full-width",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
    $(function () {
        var oTable = new TableInit();
        oTable.Init();
    });

    var TableInit = function () {
        var oTableInit = new Object();
        oTableInit.Init = function () {
            $('#mousetable').bootstrapTable({
                url: '/Kucun/GetKucunList',         
                method: 'get',                     
                toolbar: '#toolbar',               
                striped: true,                      
                cache: true,                       
                pagination: false,                   
                sortable: true,                     
                sortOrder: "asc",                 
                queryParams: oTableInit.queryParams,
                //queryParamsType: 'limit',
                search: true,                      
                searchOnEnterKey: false,             
                strictSearch: false,                
                showExport: true,                     
                exportDataType: "basic",             
                showColumns: true,                 
                showRefresh: true,                  
                minimumCountColumns: 2,             
                clickToSelect: true,                                    
                uniqueId: "id",                    
                showToggle: true,                   
                cardView: false,                    
                detailView: true,                   
                showFooter: true,                   
                rowStyle: oTableInit.rowStyle,     
                //onEditableSave: oTableInit.onEditableSave, //设置表格编辑后的参数
                onExpandRow: function (index, row, $detail) {   
                    oTableInit.InitSubTable(index, row, $detail);
                },
                columns: [{
                    checkbox: true
                }, {
                    field: 'id',
                    title: 'id'
                }, {
                    field: 'index',
                    title: '序号',
                    formatter: "indexFormatter"
                }, {
                    field: 'dataServer',
                    title: '大区',
                    sortable: true,
                    footerFormatter: "footerTitle"
                }, {
                    field: 'server',
                    title: '服务器',
                    sortable: true
                }, {
                    field: 'oldGil',
                    title: '转移库存',
                    sortable: true,
                    footerFormatter: "sumFormatter"
                }, {
                    field: 'nowGil',
                    title: '实时库存',
                    sortable: true,
                    footerFormatter: "sumFormatter"
                }, {
                    field: 'totalGil',
                    title: '总库存',
                    sortable: true,
                    footerFormatter: "sumFormatter",
                    cellStyle: "cellStyler"
                }, {
                    field: 'updataTime',
                    title: '更新时间',
                    sortable: true
                },]
            });         
        };

        oTableInit.InitSubTable = function (index, row, $detail) {
            var cur_table = $detail.html('<table></table>').find('table');
            $(cur_table).bootstrapTable({
                url: '/Kucun/GetChildrenMenu',
                method: 'get',
                queryParams: { server: row.server },
                ajaxOptions: { server: row.server },
                clickToSelect: true,
                detailView: false,
                uniqueId: "id",
                onEditableSave: oTableInit.onEditableSave, 
                columns: [{
                    checkbox: true
                }, {
                    field: 'id',
                    title: 'ID'
                }, {
                    field: 'dataServer',
                    title: '大区'
                }, {
                    field: 'server',
                    title: '服务器'
                }, {
                    field: 'gil',
                    title: '金币数',
                    editable: true
                }, {
                    field: 'account',
                    title: '账号'
                }, {
                    field: 'updataTime',
                    title: '更新时间'
                }, {
                    field: 'del',
                    title: '删除',
                    align: 'center',
                    events: operateEvents,
                    formatter: operateFormatter
                },]
            });

        };
        
        oTableInit.onEditableSave = function (field, row, oldValue, $el) {
            $.ajax({
                type: "post",
                url: "/Kucun/Edit",
                data: row,
                success: function (data, status) {
                    if (data == "ok") {

                        toastr.success('修改库存成功');
                    }
                    else if (data == "finderror") {
                        toastr.warning('只支持转移库存的修改亲');
                    }
                    else if (data == "error") {
                        toastr.error('修改转移库存失败');
                    }
                    else {
                        toastr.info('发生了未知错误');
                    }
                },
                error: function () {
                    toastr.error('修改转移库存失败');
                },
                complete: function (data, status) {
                    $("#mousetable").bootstrapTable('refresh');
                }
            });
        }
      
        oTableInit.rowStyle = function (row, index) {         
            var strclass = "";
            if (row.totalGil > 70000) {
                strclass = 'danger';
            }
            else if (row.totalGil < 20000) {
                strclass = 'success';
            }
            else if (row.totalGil > 40000 && row.totalGil < 70000) {
                strclass = 'warning';
            }
            else {
                return {};
            }
            return { classes: strclass }
        };

        oTableInit.queryParams = function (params) {
            var temp = {   
                limit: params.limit,   
                offset: params.offset,  
                search: params.strictSearch,
                departmentname: $("#txt_search_departmentname").val(),
                statu: $("#txt_search_statu").val()
            };
            return temp;
        };
        return oTableInit;
    };

    var ButtonInit = function () {
        var oInit = new Object();
        var postdata = {};

        oInit.Init = function () {
        };

        return oInit;
    };

    function operateFormatter(value, row, index) {
        return [
            '<a class="remove" href="javascript:void(0)" title="Remove">',
            '<i class="glyphicon glyphicon-remove"></i>',
            '</a>'
        ].join('');
    }

    window.operateEvents = {
        'click .remove': function (e, value, row, index) {
            if (row.account == "实时仓库") {
                toastr.error('对不起，不能删除实时库存');
                return false;
            }
            else {
                swal({
                    title: "操作提示",     
                    text: "在这个界面删除只会移除该账号在这个区的库存，如果这个号还有其它区将不会有影响，如果是封号请去转移库存删除？",  
                    type: "warning",        
                    showCancelButton: true, 
                    confirmButtonColor: "#DD6B55",
                    cancelButtonText: "取消",
                    confirmButtonText: "是的，确定删除！",
                    closeOnConfirm: true
                }, function () {
                    $.ajax({
                        type: "post",
                        url: "/Kucun/DeleteOldHouse",
                        data: { id: row.id },
                        success: function (data, status) {
                            if (data == "success") {
                                toastr.success('删除数据成功');
                                $('#mousetable').bootstrapTable('refresh');
                            }                           
                            else {
                                toastr.error('删除数据失败');
                            }
                        },
                        error: function () {
                            toastr.error('删除数据失败');
                        },
                        complete: function () {

                        }

                    });
                });
            }
        }
    };

    function sumFormatter(data) {
        field = this.field;
        return data.reduce(function (sum, row) {
            return sum + (+row[field]);
        }, 0);
    };

    function indexFormatter(value, row, index) {
        return index + 1;
    };

    function cellStyler(value, row, index) {
        if (value > 100000) {
            return {
                css: {
                    "color": "red",
                    "max-width": "300px",
                    "word-wrap": "break-word",
                    "word-break": "normal"
                }
            };
        }
        return {
            css: {
            }
        };
    }

    function footerTitle(data) {
        return "合计";
    };

    function ClearKucun() {
        $.post("/Kucun/ClearKucun", function (data) {
            $('#mousetable').bootstrapTable('load', data);
            toastr.success('清理完成');
        });
    }
        
    function LoadByServer(server) {
        $.post("/Kucun/GetKucunByServer", { server: server }, function (data) {
            $('#mousetable').bootstrapTable('load', data);
            toastr.success('加载完成');
        });
    }
</script>
